<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg viewBox="0 0 483 78" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.8366 74.8771C14.5305 74.8771 11.5955 74.3261 9.03161 73.2241C6.49018 72.0996 4.47727 70.4128 2.9929 68.1637C1.53101 65.8922 0.800071 63.0471 0.800071 59.6286C0.800071 56.7498 1.30611 54.3208 2.31818 52.3416C3.33026 50.3625 4.72467 48.7544 6.50142 47.5174C8.27817 46.2804 10.3248 45.3471 12.6413 44.7173C14.9579 44.0651 17.4318 43.6265 20.0632 43.4016C23.0095 43.1317 25.3822 42.8506 27.1815 42.5582C28.9807 42.2434 30.2852 41.8048 31.0948 41.2425C31.927 40.6578 32.343 39.8369 32.343 38.7798V38.6111C32.343 36.8794 31.747 35.5412 30.555 34.5966C29.363 33.652 27.755 33.1797 25.7308 33.1797C23.5492 33.1797 21.795 33.652 20.468 34.5966C19.1411 35.5412 18.2977 36.8456 17.9379 38.5099L2.72301 37.9702C3.17282 34.8215 4.33108 32.0102 6.1978 29.5362C8.087 27.0398 10.6734 25.0831 13.957 23.6662C17.2631 22.2268 21.2327 21.5071 25.8658 21.5071C29.1719 21.5071 32.2193 21.9007 35.0082 22.6879C37.797 23.4525 40.226 24.5771 42.2951 26.0614C44.3642 27.5233 45.9611 29.3226 47.0856 31.4592C48.2326 33.5958 48.8061 36.036 48.8061 38.7798V74H33.2876V66.7805H32.8828C31.9607 68.5348 30.7799 70.0192 29.3406 71.2337C27.9237 72.4482 26.2481 73.359 24.3139 73.9663C22.4022 74.5735 20.2431 74.8771 17.8366 74.8771ZM22.9308 64.0817C24.7075 64.0817 26.3043 63.7218 27.7212 63.0021C29.1606 62.2824 30.3076 61.2928 31.1623 60.0334C32.0169 58.7514 32.4442 57.267 32.4442 55.5803V50.6548C31.9719 50.9022 31.3984 51.1271 30.7237 51.3295C30.0715 51.532 29.3518 51.7231 28.5646 51.9031C27.7775 52.083 26.9678 52.2404 26.1357 52.3754C25.3035 52.5103 24.5051 52.634 23.7404 52.7464C22.1886 52.9938 20.8616 53.3762 19.7596 53.8935C18.68 54.4107 17.8479 55.0855 17.2631 55.9176C16.7009 56.7273 16.4197 57.6944 16.4197 58.8189C16.4197 60.5282 17.027 61.8326 18.2415 62.7322C19.4785 63.6319 21.0415 64.0817 22.9308 64.0817ZM75.3899 44.4474V74H58.8931V22.1818H74.5803V31.6953H75.1538C76.3008 28.5241 78.2575 26.0389 81.0238 24.2397C83.7901 22.418 87.085 21.5071 90.9084 21.5071C94.5518 21.5071 97.7118 22.328 100.388 23.9698C103.087 25.5891 105.179 27.8607 106.663 30.7844C108.17 33.6857 108.912 37.0818 108.89 40.9727V74H92.3928V44.2113C92.4152 41.3325 91.6843 39.0834 90.1999 37.4641C88.738 35.8448 86.7027 35.0352 84.0938 35.0352C82.362 35.0352 80.8326 35.4175 79.5057 36.1822C78.2012 36.9244 77.1892 37.9927 76.4695 39.3871C75.7723 40.7815 75.4124 42.4683 75.3899 44.4474ZM143.292 74.9783C137.849 74.9783 133.171 73.8651 129.258 71.6385C125.367 69.3894 122.364 66.2633 120.25 62.2599C118.158 58.2341 117.113 53.5674 117.113 48.2596C117.113 42.9293 118.158 38.2625 120.25 34.2592C122.364 30.2334 125.367 27.1072 129.258 24.8807C133.171 22.6316 137.849 21.5071 143.292 21.5071C148.734 21.5071 153.401 22.6316 157.292 24.8807C161.205 27.1072 164.208 30.2334 166.299 34.2592C168.414 38.2625 169.471 42.9293 169.471 48.2596C169.471 53.5674 168.414 58.2341 166.299 62.2599C164.208 66.2633 161.205 69.3894 157.292 71.6385C153.401 73.8651 148.734 74.9783 143.292 74.9783ZM143.393 62.5298C145.372 62.5298 147.048 61.9226 148.419 60.7081C149.791 59.4936 150.837 57.8068 151.557 55.6477C152.299 53.4886 152.67 50.9922 152.67 48.1584C152.67 45.2796 152.299 42.7607 151.557 40.6016C150.837 38.4425 149.791 36.7557 148.419 35.5412C147.048 34.3267 145.372 33.7195 143.393 33.7195C141.346 33.7195 139.614 34.3267 138.198 35.5412C136.803 36.7557 135.735 38.4425 134.993 40.6016C134.273 42.7607 133.913 45.2796 133.913 48.1584C133.913 50.9922 134.273 53.4886 134.993 55.6477C135.735 57.8068 136.803 59.4936 138.198 60.7081C139.614 61.9226 141.346 62.5298 143.393 62.5298ZM194.418 44.4474V74H177.921V22.1818H193.609V31.6953H194.182C195.329 28.5241 197.286 26.0389 200.052 24.2397C202.818 22.418 206.113 21.5071 209.937 21.5071C213.58 21.5071 216.74 22.328 219.416 23.9698C222.115 25.5891 224.207 27.8607 225.691 30.7844C227.198 33.6857 227.94 37.0818 227.918 40.9727V74H211.421V44.2113C211.444 41.3325 210.713 39.0834 209.228 37.4641C207.766 35.8448 205.731 35.0352 203.122 35.0352C201.39 35.0352 199.861 35.4175 198.534 36.1822C197.23 36.9244 196.217 37.9927 195.498 39.3871C194.801 40.7815 194.441 42.4683 194.418 44.4474ZM238.131 74V22.1818H254.628V74H238.131ZM246.397 16.1431C244.08 16.1431 242.09 15.3784 240.425 13.8491C238.761 12.2972 237.929 10.4305 237.929 8.24893C237.929 6.08984 238.761 4.24562 240.425 2.71626C242.09 1.16441 244.08 0.38849 246.397 0.38849C248.736 0.38849 250.726 1.16441 252.368 2.71626C254.032 4.24562 254.864 6.08984 254.864 8.24893C254.864 10.4305 254.032 12.2972 252.368 13.8491C250.726 15.3784 248.736 16.1431 246.397 16.1431ZM265.128 74V22.1818H280.816V31.6953H281.389C282.469 28.5466 284.29 26.0614 286.854 24.2397C289.418 22.418 292.477 21.5071 296.03 21.5071C299.629 21.5071 302.71 22.4292 305.274 24.2734C307.838 26.1177 309.469 28.5916 310.166 31.6953H310.706C311.673 28.6141 313.562 26.1514 316.373 24.3072C319.184 22.4405 322.502 21.5071 326.325 21.5071C331.228 21.5071 335.209 23.0814 338.268 26.2301C341.326 29.3563 342.856 33.652 342.856 39.1172V74H326.359V42.8956C326.359 40.3092 325.695 38.3413 324.369 36.9918C323.042 35.6199 321.321 34.9339 319.207 34.9339C316.935 34.9339 315.147 35.6761 313.843 37.1605C312.561 38.6224 311.92 40.5903 311.92 43.0643V74H296.064V42.7269C296.064 40.3204 295.412 38.42 294.108 37.0256C292.803 35.6312 291.083 34.9339 288.946 34.9339C287.507 34.9339 286.236 35.2826 285.134 35.9798C284.032 36.6545 283.166 37.6216 282.536 38.881C281.929 40.1405 281.625 41.6249 281.625 43.3342V74H265.128ZM377.266 74.9783C371.824 74.9783 367.146 73.8651 363.232 71.6385C359.341 69.3894 356.339 66.2633 354.225 62.2599C352.133 58.2341 351.087 53.5674 351.087 48.2596C351.087 42.9293 352.133 38.2625 354.225 34.2592C356.339 30.2334 359.341 27.1072 363.232 24.8807C367.146 22.6316 371.824 21.5071 377.266 21.5071C382.709 21.5071 387.376 22.6316 391.267 24.8807C395.18 27.1072 398.182 30.2334 400.274 34.2592C402.388 38.2625 403.445 42.9293 403.445 48.2596C403.445 53.5674 402.388 58.2341 400.274 62.2599C398.182 66.2633 395.18 69.3894 391.267 71.6385C387.376 73.8651 382.709 74.9783 377.266 74.9783ZM377.367 62.5298C379.347 62.5298 381.022 61.9226 382.394 60.7081C383.766 59.4936 384.812 57.8068 385.532 55.6477C386.274 53.4886 386.645 50.9922 386.645 48.1584C386.645 45.2796 386.274 42.7607 385.532 40.6016C384.812 38.4425 383.766 36.7557 382.394 35.5412C381.022 34.3267 379.347 33.7195 377.367 33.7195C375.321 33.7195 373.589 34.3267 372.172 35.5412C370.778 36.7557 369.709 38.4425 368.967 40.6016C368.248 42.7607 367.888 45.2796 367.888 48.1584C367.888 50.9922 368.248 53.4886 368.967 55.6477C369.709 57.8068 370.778 59.4936 372.172 60.7081C373.589 61.9226 375.321 62.5298 377.367 62.5298ZM421.173 74.9783C418.744 74.9783 416.664 74.1237 414.932 72.4144C413.223 70.7051 412.38 68.636 412.402 66.207C412.38 63.823 413.223 61.7876 414.932 60.1009C416.664 58.3916 418.744 57.5369 421.173 57.5369C423.467 57.5369 425.492 58.3916 427.246 60.1009C429.023 61.7876 429.922 63.823 429.945 66.207C429.922 67.8263 429.495 69.2995 428.663 70.6264C427.853 71.9534 426.785 73.0104 425.458 73.7976C424.153 74.5848 422.725 74.9783 421.173 74.9783Z" fill="#0000FF"/>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-4">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-lg font-bold">
            Content
          </h3>
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
            </li><li>
              <a
                href="https://www.instagram.com/anonimo.content/"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#00000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6ZM6 4C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4H6ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12ZM17.5 8C18.3284 8 19 7.32843 19 6.5C19 5.67157 18.3284 5 17.5 5C16.6716 5 16 5.67157 16 6.5C16 7.32843 16.6716 8 17.5 8Z" fill="#0000ff"></path> </g></svg></svg
              >
            </li><li>
              <a
                href=""
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href=""
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <!-- <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See more templates on &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Get it on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/michael-andreuzza/swissfolio">GitHub</a
          ></span
        >
      </div> -->
    </div>
  </div>
</section>
