---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-2">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Nuestra tesis general es que la tecnología transformará todos los sectores de nuestro mundo y que las mayores transformaciones aún están por venir. Cada pocos años se abren nuevas fronteras para la innovación. La tecnología y la comunicación son las herramientas que te llevarán al siguiente nivel.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
       </a
        >
      </p>
      <p
        class="text-3xl lg:col-start-4 leading-relaxed text-right"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Data-Driven
      </p>
      <p
        class="text-3xl lg:col-start-4 leading-relaxed text-right"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Strategy-led
      </p>
      <p
        class="text-3xl lg:col-start-4 leading-relaxed text-right"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        User-Centered
      </p>
      <p
        class="text-lg font-semibold lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        CREAMOS SOLUCIONES PARA
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Marcas
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Corporativos 
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Startups 
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Medios de comunicación
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed text-left"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Gobiernos  
      </p>
    </div>
  </div>

</section>
